@charset "utf-8";


.page-content{
 background:#6d6e71; 
}

article{
 background:none; 
}

.wrapper{
background:#6d6e71;
}
.profile .pf-name{
 color:#fff !important;
}

.pf-table>.row>.pf-name-eng{
 color:#fff !important;
}

.pf-table>.row>.pf-col1{
color:#fff !important;
}

.profile .pf-col2{
color:#eaeaea !important;
}
