@charset "utf-8";


.page-content{
 background:#6d6e71; 
}

article{
 background:none; 
}

.wrapper{
background:#6d6e71;
}
.pf-table>.row>.pf-name{
 color:#fff !important;
}

.pf-table>.row>.pf-name-eng{
 color:#fff !important;
}

.pf-table>.row>.pf-col1{
color:#fff !important;
}

.profile .pf-col2{
color:#eaeaea !important;
}


.centered_about_st{
 color:#fff;
}
/* 
.area_construction{
 margin-top:20px;
} */
/* 
.area_construction>div{
margin-bottom:15px;
}
 */
.area_construction>div:last-child{
margin-bottom:0;
}

.construction_bx:after{
 content:'';
 display:block;
 clear:both;
}

.construction_bx>div{
 float:left;
 text-align:left;
}

.con_lbx{
 width:70px;
 margin-right:15px;
}





.centered:after{
display:block;
 clear:both;
 content:'';
}

.profile{
 height:420px;
}

.contact-info li{
 color:#fff;
}

.trigger a:link, .trigger a:visited{
 color:#fff;
}

.project-list .type, .project-list .title{
 color:#fff;
}

#map02 {
    width: 400px;
    height: 400px;
 margin-top:30px;
}

.area_construction:after{
 content:'';
 display:block;
 clear:both;
}

.construction_bx {
 float:left;
 width:110px;
 height:240px;
 margin-right:14px;
 background: rgba(0,0,0,0.8);
}

.construction_bx01, .construction_bx02, .construction_bx03, .construction_bx04, .construction_bx05, .construction_bx06{
 margin-bottom:14px;
}

.construction_bx06, .construction_bx12{
margin-right:0;
}

.construction_position{
 font-size:13px;
 color:#fff;
 padding-top:40px;
}

.construction_name{
font-size: 11px;
    color: #fff;
    padding-top: 15px;
}

.con_department{
    font-size: 12px;
    color: #fff;
    padding-top: 48px;
}







