@charset "utf-8";


.page-content{
 background:#6d6e71; 
}

article{
 background:none; 
}

.wrapper{
background:#6d6e71;
}
.pf-table>.row>.pf-name{
 color:#fff !important;
}

.pf-table>.row>.pf-name-eng{
 color:#fff !important;
}

.pf-table>.row>.pf-col1{
color:#fff !important;
}

.profile .pf-col2{
color:#eaeaea !important;
}


.centered_about_st{
 color:#fff;
}
/* 
.area_construction{
 margin-top:20px;
} */

.area_construction>div{
margin-bottom:15px;
}

.area_construction>div:last-child{
margin-bottom:0;
}

.construction_bx:after{
 content:'';
 display:block;
 clear:both;
}

.construction_bx>div{
 float:left;
 text-align:left;
}

.con_lbx{
 width:70px;
 margin-right:15px;
}


.construction_name{
 font-size:16px;
 color:#fff;
}

.construction_st{
 font-size:16px;
 color:#fff;
}


.centered:after{
display:block;
 clear:both;
 content:'';
}

.profile{
 height:420px;
}

.contact-info li{
 color:#fff;
}

.trigger a:link, .trigger a:visited{
 color:#fff;
}

.project-list .type, .project-list .title{
 color:#fff;
}

#map02 {
    width: 400px;
    height: 400px;
 margin-top:30px
}


